@import url('http://fonts.googleapis.com/css?family=Belleza');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

// Partials
@import "carousel";
@import "multicolumn";
@import "navigation";

body {
  background-color: $gray;
}

.small-text {
  font-size: 28px;
}

.container {
  padding-left: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

#main-container {
  width: 100%;
  margin: 76px 0px;
}

section {
  position: relative;
  width: 100%;
  min-height: 120px;
  padding: 100px 0px;
}

section:nth-of-type(2n+1) {
  background-color: $gray;
}

section:nth-of-type(2n) {
  background-color: white;
}

h1 {
  font-size: 2.2rem;
  font-family: $font-primary;
  text-transform: lowercase;
  font-weight: 100;
  color: white;
}

.fixed-background {
  position: static;
  background: url('../img/flower.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  max-height: 300px;
}

.vertical-container {
  height: 300px;
  text-align: center;
}

.quote {
  position: relative;
  top: calc(50% - 25px);
  font-size: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 6px 6px red;
}

.open-modal-button {
  font-size: 20px;
  font-family: $font-primary;
  position: relative;
  margin: 20px;
  outline: none;
  background: $yellow;
  border: none;
  padding: 15px 40px;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.2s ease background-color;
}

.open-modal-button:hover {
  background-color: $orange;
}

.modal-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-modal-button {
  position: fixed;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 50px;
  cursor: pointer;
  @include noselect;
}

.close-modal-button:hover {
  color: gray;
}

.centered-list {
  list-style-type: none;
  text-align: center;
  width: 100%;

  li {
    display: inline;
    margin: 0px 20px;
  }
}

.social-icons {
  margin-top: 180px;
}
