.carousel-container {
	width: 700px;
	height: 420px;
	margin: 0 auto;
	@include noselect;

	.arrow {
		position: absolute;
		font-size: 120px;
		margin-top: -60px;
		top: 50%;
		padding: 0px 5px;
		color: rgba(lightgray, 0.5);
		cursor: pointer;
		z-index: 1;
	}

	.arrow:hover {
		color: rgba(lightgray, 0.9);
	}

	.arrow:active {
		color: gray;
	}

	.left-arrow {
		left: 0px;
	}

	.right-arrow {
		right: 0px;
	}

	.carousel {
		position: relative;
		width: 100%;
		height: calc(100% - 50px);
		background-color: gray;
		overflow: hidden;
		box-shadow: 0px 1px 2px 2px gray;
	}

	.carousel-inner {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translate(0px, 0px);
		transition: 0.4s ease transform;
	}

	img {
		width: 100%;
		float: left;
	}

	.lower-bar {
		width: 100%;
		height: 50px;
		padding-top: 16px;

		ul {
			list-style-type: none;
			text-align: center;
		}

		.carousel-indicator {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0px 30px;
			background-color: gray;
			cursor: pointer;
		}

		.carousel-indicator:hover {
			background-color: lighten($red, 20);
		}

		.selected {
			background-color: $red;
		}
	}
}
