.columns {
	width: calc(100% - 50px);
	display: flex;
	position: relative;
	left: 25px;
}

.col {
	flex-grow: 1;
	width: 100%;
	padding: 20px;
}

.bar {
	width: 100%;
	height: 40px;
	background-color: $green;

	&:nth-of-type(2) {
		background-color: darken($green, 10);
	}

	&:nth-of-type(3) {
		background-color: darken($green, 20);
	}

	&:nth-of-type(4) {
		background-color: darken($green, 30);
	}

	&:nth-of-type(5) {
		background-color: darken($green, 40);
	}
}
