header, footer {
  width: 100%;
  padding: 8px 0px;
  background-color: rgba($red, 0.9);
  color: whitesmoke;
  z-index: 2;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  text-align: center;
  transition: 0.2s ease height;

  &.mini {
    height: 30px;

    .title {
      h1 {
        font-size: 2.0rem;
      }
    }
  }

  .title {
    position: absolute;
    bottom: 4px;
    margin-left: $nav-margin-left;
  }

  h1 {
    display: inline;
    font-size: 3.0rem;
    transition: 0.2s ease font-size;
  }

  .section-list {
    list-style-type: none;
    display: inline;
    margin-left: 30px;
    font-family: $font-secondary;
    font-size: 1.3em;

    li {
      display: inline-block;
      margin: 0px 30px;
      cursor: pointer;

      &.selected{
        color: lightgray;
        border-bottom: 3px solid lightgray;
      }
    }
  }
}

footer {
  position: relative;
  padding-bottom: 30px;

  .title {
    position: relative;
    top: 4px;
    margin-left: $nav-margin-left;
    font-family: $font-secondary;
  }
}
