$gray			: lightgray;
$orange         : #BD3613;
$blue           : #3498db;
$red			: #c0392b;
$green			: #2ecc71;
$yellow			: #f1c40f;

$font-primary: sans-serif;
$font-secondary: Belleza, "Georgia";

$default-border-radius : 10px;
$nav-margin-left: 50px;